@font-face {
    font-family: 'segoe';
    src: url('fonte/Segoe\ UI.ttf');
}
body{
    background-color: #ffffff;
    margin: 6%;
    overflow-x: hidden;
    
}
.cadastro{

    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.068);
    margin: 3%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    font-family: 'segoe'; 
    width: 40%; 
    height: 80%;  
    display: flex;
    justify-content: center;
    display: inline-block;
}
.carrossel{
    margin: 3%;
    display: inline-block;
    float: right;

}
img{
    
    width: 30%;
    
}

hr{
    color: rgb(211, 211, 211);
    width: 180px;
   
}
input{
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-family: 'segoe'; 
}
#useremail{
    background-image: url("icons/mail.svg");
    background-repeat: no-repeat;
    background-position: right;
}
#usersenha{
   
    background-image: url("icons/eye-open.svg");
    background-repeat: no-repeat;
    background-position: right;
}
p > a {
    text-decoration: none;
}
button{
    background-color:#6b1bc6;
    color: white;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 10px;

}
