body{
    margin: 0;
    padding: 0;
}
header{
    border-radius: 10px 10px 10px 10px;
    width: 20%;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.3em;
    float: left;
}

.filtros{
margin: 10px;
padding:30px;
width: 70vw;
height: 8vh;
background-color:#f9fafa;
border: 1px solid #d9d9d9;
border-radius: 10px;
position: relative;
}
.botoes > button{
    margin:  30px 10px 10px 10px;
    width: 70%;
    padding: 2%;
    height: 3.5vh;
    border-radius: 10px;
    border: 1px solid #6b1bc6;
    font-family: 'segoe';
    font-size: 1.15em;
    color:#6b1bc6;
    font-weight:lighter;
    background-color: #FFFFFF;
 
}
label{
    font-size: 1.2em;
    color: #212121;
    margin: 10px;
}
.botoes{
   
    width: 22%;
    float: left;
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 7.2vh;
}
.agrupa{
    
    width: 16%;
    float: left;
    margin: 20px;
}
select{
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin: 10px;
    padding: 2%;
    width: 100%;
    font-family: 'segoe';
    font-size: 1.1em;
}
table{
    
    border-collapse: collapse;
   
    width: 72.5vw;
    text-align: center;
    
}

thead{
    border-radius: 8px;
    border:1px solid #d9d9d9;
    background-color: #f9fafa;
    height: 5vh;
    width: 72.5vw;
   
    position: relative;
}
.user{
    background-color: transparent;
    height: 14vh;
    width: 27vw; 
    color: #6b1bc6;
    font-size: 1em;
}
.logo{
    background-color: #6b1bc6;
    border-radius: 10px 10px 0px 0px;
    height: 6vh;
    padding: 8px;
}
.logo > img{  
    margin: 10px;
    width: 80%; 

}
header > ul{
    padding: 30px;
    list-style: none;
    margin: 10px;
}
li > a{
    font-size: 1.1em;
    text-decoration: none;
    color:#6b1bc6;
    margin: 40px;
    
}

li > img{
    width: 30px;
    margin: 6px;
    display: inline-block;
    vertical-align: middle;
}
a:hover{
    background-color: #6b1bc6;
    color:#FFFFFF;
    border-radius: 10px;
    padding: 10px;
    
}


button > img{
    vertical-align: middle;
}
button > p{
    display: inline-block;
    margin: 10px;
}

.rodape_menu{
    background-color: #6b1bc6;
    width: 20%;
    height: 30px;
    border-radius:0px 0px 10px 0px ;
    position: absolute;
    bottom: 0px;    
   
}

.conta{
    margin: 30px;
    background-color: #6b1bc6;
    border-radius: 10px;
    height: 10vh;
    color: #FFFFFF;
  
}
.conta > img{
    width: 3vw;
    height: 6.2vh;
    border-radius: 20px;
    float: left;
    margin: 10px;
    padding: 10px;
}
.conta > h3{
    font-weight: lighter;
    vertical-align: middle;
    display: inline-block;
}
.conta > p{
    margin: auto;
    font-weight: lighter;
}
button{
    background-color: transparent;
    border: 0px;
    
}
.moldura{
    width: 120px;
    height: 120px;
    background-color:#e4c6ff;
    position: relative;
    margin: 0px 30px 0px 30px;
    border-radius: 10px;
    border: 1px solid #6b1bc6;
    float: left;
}
.moldura > img{
  left: 50%;
  margin-left: -10px; /* A metade de sua largura. */
  margin-top: 45px;
  position: absolute;
}
.edicao{
   
   height: 19vh;
   margin: 30px;
   padding: 10px;
}
.edicao > h2{
    margin: 27px;
}
.borda{
    background-color: transparent;
    border: 2px solid #e4c6ff ;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content:left;
    padding-left:16px;
    margin: 16px;
}
.borda > button{
    font-family: 'segoe';
    font-size: 1em;
    font-weight: lighter;
}
.dados > input{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-family: 'segoe';
    
}

#save{
    width:10vw;
    justify-content: center;
}
.permadm{
    display: inline-block;
}


  